Source: flightpred
Section: web
Priority: optional
Maintainer: Richard Ulrich <richi@paraeasy.ch>
Build-Depends: libboost-regex-dev, libboost-program-options-dev, libboost-date-time-dev, libboost-signals-dev, libboost-thread-dev, libboost-system-dev, libboost-filesystem-dev, libboost-serialization-dev, libboost-test-dev, libboost-iostreams-dev, postgresql-contrib, debhelper (>= 7), libfcgi0ldbl, libwt-dev(>=3.1.5), libwtext-dev, libwtfcgi-dev, libwthttp-dev, postgis, libpqxx-dev | libpqxx3-dev, proj (>=4.6.0), adduser, libgrib-api-dev (>=1.7.0), cmake (>= 2.8), libevocosm-dev, libcoyotl-dev, libjsonspirit, dlib-dev 
standards-Version: 3.8.1.0
Homepage: http://sourceforge.net/projects/flightpred

Package: flightpred
Architecture: i386 amd64 armel
Essential: no
Depends: ${shlibs:Depends}, ${misc:Depends}, ${dist:Depends}, apache2, libapache2-mod-fastcgi, adduser, postgis, xml-twig-tools, php5-pgsql, libapache2-mod-php5
Description: Free flight prediction system to forecast good days and locations for cross country flights
 A system that shall predict good days and locations for cross country free flying such as paragliding. The system is trained with past weather prediction data and flights from online xc competitions. With current weather prediction data it can then make predictoins about possible flights in areas it is trained for.
